.main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/spot.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 88px;
  padding-bottom: 108px;

  &__h2 {
      max-width: 580px;
      margin-top: 88px;
      margin-bottom: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
  }

  &__p {
    max-width: 664px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    text-align: center;
    color: #7E7E7E;
    margin-bottom: 32px;
  }
}

@media (max-width: 1400px) { 
  .main-bottom {
    padding-left: 4%;
    padding-right: 4%;
  }

  @media (max-width: 900px) {
    .main-bottom {
    &__h2 {
      width: 90vw;
    }
  
    &__p { 
      width: 90vw;
    }
    }
  }
}